# NEXT
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NODE_ENV=development

# DB
DATABASE_URL=postgresql://postgres:postgres@db:5432/cocm?schema=public

# MINIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_BUCKET=cocm-media
MINIO_USE_SSL=false

# EMAIL (dev uses MailHog)
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
EMAIL_FROM="Content on Cue Media <no-reply@contentoncue.example>"

# OPTIONAL: NextAuth (future)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=devsecret
